@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-Family: 'karla';
}

body {
    background-color: rgb(236, 178, 238);
    font-family: 'yanone', cyreal;
}
 
main {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    text-align: center;
}

h1,
h2,
h3,
.label {
    padding: 1rem;
}

h1 {
    font-size: 2.8rem;
    padding-top: 1.75rem;
    color: rgb(139, 17, 17);
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    width: 75%;
    margin: 0 auto;
    font-weight: 100;
}

.label {
    font-size: 1.4rem;
}

#check {
    font-size: 1rem;
    display: block;
    margin: 1rem auto;
    padding: 0.6rem 0.5rem;
    border-radius: 1rem;
    width: 40%;
    border: 2px solid rgb(148, 56, 128);
}

#check:hover{
    background-color: rgb(167, 65, 133);
    color: white;

}



#birthday {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid rgb(99, 22, 80);
    border-radius: 1rem;
    width: 40%;
}
#birthday:hover{
    background-color: rgb(117, 22, 101);
    color: white;

}

#output {
    font-size: 1.5rem;
    width: 75%;
    margin: 0 auto;
    color: black;
}